/* @import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item{
  height: 27px;
} */

*{
  margin: 0;
  padding: 0;
}
.App{
  width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px 5px #bfbfbf;
  border-radius: 5px;
  height: 95vh;
}
.title{
  text-align: center;
}